*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 150px;
    float: right;
}

p{
    clear: right;
}

.div{
    height: 100px;
    width: 100px;
    margin: 12px;
    display: inline-block;
    font-size: 48px;
    color: white;
    text-align: center;
}

.div2{
    /* display: none; */
    visibility: hidden;
}