*
{
    text-align: center;
    background-color: black;
}
h1
{
    color: yellow;
    background-color: black;
}

body
{
    background-color: yellow;
}

.bujji
{
    color: green;
}
#carling{
    color: pink;
}